.rule {
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  border-radius: 3px;
  position: relative;
}

.agree::before {
  content: "Agree: ";
  display: inline;
}

.disagree::before {
  content: "Disgree: ";
  display: inline;
}

.dontmind::before {
  content: "Don't Mind: ";
  display: inline;
}

.agree-btn::before {
  content: "Agree";
  display: inline;
}

.disagree-btn::before {
  content: "Disgree";
  display: inline;
}

.dontmind-btn::before {
  content: "Don't Mind";
  display: inline;
}

.vote .vote-btn {
  display: inline-block;
  padding: 5px 20px;
  transition: background-color .25s ease-in-out;
}

.vote .vote-btn:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.vote span {
  margin: 0 5px;
}

.meta {
  margin-top: 5px;
}

.vote {
  float: left;
}

.author {
  float: right;
}

.meta::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

.content-input {
  width: calc(100% - 5px);
  min-height: 4em;
}

.edit-btn {
  width: 18px;
  height: 18px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  right: -1px;
  top: -1px;
  background-color: #e8e8e8;
  transition: background-color .25s ease-in-out;
}

.edit-btn:hover {
  background-color: grey;
}

.navbar ul li {
  float: right;
  padding: 10px;
  transition: background-color .25s ease-in-out;
}
.navbar ul li:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

.navbar ul::after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  position: relative;
}